<!DOCTYPE html>
<html>
<head>
	<title>Edit profil</title>
</head>
<body class='text-center'>
	<!-- affichage allert -->
	<% if flash[:success] %>
    <div class="alert alert-success" style="text-align: center;"><%= flash[:success]%></div>
    <% else  %>
    	<%if flash[:danger]%>
    <div class="alert alert-danger" style="text-align: center;"><%= flash[:danger]%></div>
    <% end %>
    <% end %>
    <!-- update user -->
	<%=form_tag url_for(action:'update'),method:'put' do %>
	Prénom:</br>
	<input type="text" name="first_name" placeholder="first name"></br>
	Nom:</br>
	<input type="text" name="last_name" placeholder="last name"></br>
	Déscription:</br>
	<textarea type="text" name="description" placeholder="description" ></textarea></br>
	<input type="submit" value="update"></br>
	<%end%>
</body>
</html>