<!DOCTYPE html>
<html>
<head>
	<title>Informé le client</title>
</head>
<body>
	<h1>Re bonjour <%= @attendance.event.admin.first_name%> et soyer à l'aise</h1>
	<p> 
		Tu participe à l'event show <%@attendance.event.admin.first_name%>
		</p>

	<p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur bigblacksky.fr !

</body>
</html>